<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSContactsUsageDescription</key>
    <string>App requires background tracking</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>13.4</string>
    <key>CFBundleName</key>
    <string>1966長照派遣系統-新北</string>
    <key>DTSDKName</key>
    <string>iphoneos13.4</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App requires background tracking</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>App requires background tracking</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>需要定位權限以繪製行車路線</string>
    <key>CFBundleDisplayName</key>
    <string>1966長照派遣系統-新北</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>需要定位權限以繪製行車路線</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
    <key>DTSDKBuild</key>
    <string>17E8258</string>
    <key>NSCameraUsageDescription</key>
    <string></string>
    <key>CFBundleShortVersionString</key>
    <string>1.1</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>需要定位權限以繪製行車路線</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>19E287</string>
    <key>DTPlatformBuild</key>
    <string>17E8258</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>11E503a</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>9.0</string>
    <key>CFBundleVersion</key>
    <string>20200508</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>App requires background tracking</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>App requires background tracking</string>
    <key>UIAppFonts</key>
    <array>
      <string>FontAwesome.ttf</string>
      <string>MaterialCommunityIcons.ttf</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMotionUsageDescription</key>
    <string>App requires motion tracking</string>
    <key>CFBundleIdentifier</key>
    <string>org.reactjs.native.example.1966ntpc</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>App requires AppleMusicUsageDescription </string>
    <key>DTXcode</key>
    <string>1141</string>
    <key>NSSiriUsageDescription</key>
    <string>App requires background tracking</string>
    <key>NSCalendarsUsageDescription</key>
    <string>App requires background tracking</string>
    <key>CFBundleExecutable</key>
    <string>1966長照派遣系統-新北</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon57x57</string>
          <string>AppIcon60x60</string>
          <string>AppIcon50x50</string>
          <string>AppIcon72x72</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>11E503a</string>
  </dict>
</plist>
